//mobile-screen 357px x 667px

@import '../../src/scss/assets/elements';

@mixin screenMargins {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
};

$margin-sections: 60px;

$debugging: false; //TODO remove, only for testing

.headerWrapper {
    @include screenMargins;
    @include colorHeaderWrapper;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    overflow: hidden;
    top: 0;    
    position: fixed;
    z-index: 8;

    @if $debugging {
        outline: 2px solid black;
    } 
}

.homePageMain {

    @if $debugging {
        outline: 2px solid black;
    } 
}
    
.backgroundImgAboveFold {
    background-image: url('../img/white-clouds-on-blue-sky-pixabay-pexels-cropped.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 100%; //x% y%
}

.mainSection1 {
    @include screenMargins;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 180px;
    
    @if $debugging {
        outline: 2px solid red;
    } 
}

.mainSection2 {
    @include screenMargins;
    margin-top: $margin-sections;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 80px;

    //TODO blob background not finished
    // background-image: url('../img/blob-svg2.svg');
    // background-repeat: no-repeat;

    @if $debugging {
        // outline: 2px solid red;
    } 
}

.mainSection3 {
    @include screenMargins;
    margin-top: $margin-sections;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .ourProductWrapper {
    
    }

    @if $debugging {
        // outline: 2px solid red;
    } 
}

.footerWrapper {
    margin-top: $margin-sections;
}

// =========== media screens ===========
//TBD tablet
@media screen and (min-width: 736px) {
    .hamburger {
        display: none;
    }
}

// desktop, height: 1024px
@media screen and (min-width: 1440px) {


}
// =========== / media screens ===========