@import '../../src/scss/assets/fonts';

$debugging: true; //TODO remove, only for testing
@mixin screenMargins {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
};

.headerWrapper {
    @include screenMargins;
    font-family: $font-family-space-grotesk;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;

    //TODO move to specific elements rather than also background?
    // position: fixed; 

    @if $debugging {
        outline: 2px solid black;
    } 
}

.homePageMain {
    @include screenMargins;

    @if $debugging {
        outline: 2px solid black;
    } 
}

.mainSection1 {

}

.mainSection2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    @if $debugging {
        outline: 2px solid black;
    } 
}

.mainSection3 {

    @if $debugging {
        outline: 2px solid black;
    } 
}

.ourProductWrapper {
    
}


.footerWrapper {
    @include screenMargins;

}



