@import '../../src/scss/assets/fonts';
@import '../../src/scss/assets/colors';

$debugging: true; //TODO remove, only for testing

@mixin screenMargins {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;

};

.headerWrapper {
    @include screenMargins;
    padding-top: 10px;
    font-family: $font-family-space-grotesk;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    overflow: hidden;
    background: linear-gradient(135deg, #2B81BE, #4190C8 60%); //header background gradient colors matched with background img
    top: 0;    
    position: fixed;

    @if $debugging {
        // outline: 2px solid black;
    } 
}

.homePageMain {

    @if $debugging {
        outline: 2px solid black;
    } 
}
    
.backgroundImgAboveFold {
    background-image: url('../img/white-clouds-on-blue-sky-pixabay-pexels-cropped.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 100%; //x% y%
}

.mainSection1 {
    @include screenMargins;
    
    //center intro-wrapper:
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 50%;
    
    @if $debugging {
        // outline: 2px solid red;
    } 
}

.mainSection2 {
    @include screenMargins;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    @if $debugging {
        outline: 2px solid black;
    } 
}

.mainSection3 {
    @include screenMargins;

    .ourProductWrapper {
    
    }

    @if $debugging {
        outline: 2px solid black;
    } 
}




.footerWrapper {
    // @include screenMargins;

}

// =========== media screens ===========

//mobile-screen 357px x 667px
// @import '_base.scss';

//TBD tablet
@media screen and (min-width: 736px) {
    .hideNav {
        
    }
}

// desktop, height: 1024px
// @media screen and (min-width: 1440px) {

// }
// =========== / media screens ===========


