@import '../../scss/assets/elements';

$debugging: false; //TODO remove, only for testing

@mixin screenMargins {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 60px;
    padding-top: 0px;
};

.h3 {
    @include styleH3;
}

.h4 {
    @include styleH4;
}

.bodyCopy {
    @include styleBodyCopy;
    margin-bottom: 0;
}

.stepCardsWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    gap: 40px;
}

.stepCard1 {
    width: 240px;
    @if $debugging {
        outline: 2px solid black;
    } 
}

.stepCard {
    width: 240px;
    margin-right: 24px;
    @if $debugging {
        outline: 2px solid black;
    } 
}

.stepText {
    margin-top: 10px;
}