@import '../../scss/assets/fonts';
@import '../../scss/assets/elements';

$debugging: false; //TODO remove, only for testing

.introWrapper {
    max-width: 550px;

    @if $debugging {
        outline: 2px solid purple;
    } 
}

.h2 {
    @include styleH2;
}

.hisspitch {
    @include styleHissPitch;
}

.ctaBtn {
    @include stylePrimaryBtnActive;
}
.ctaBtn:hover {
    @include stylePrimaryBtnHoverLightBg;
}


// =========== media screens ===========

//mobile-screen 357px x 667px
// @import '_base.scss';

//TBD tablet
@media screen and (min-width: 736px) {
    .introWrapper {
       
        
    }
}

// desktop, height: 1024px
// @media screen and (min-width: 1440px) {

// }
// =========== / media screens ===========
