@import '../../scss/assets/elements';

$debugging: true; //TODO remove, only for testing

.h3 {
    @include styleH3;
}

.stepTextWrapper {

}

.stepCardsWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;

}
.stepCard {
    width: 200px;
    @if $debugging {
        outline: 2px solid black;
    } 
}