@import '../../scss/assets/elements';

$debugging: true; //TODO remove, only for testing

$margin-btw-section: 40px; //margin between sections
$margin-left-testimonial: 20px;

@mixin screenMargins {
    // width: 100%;
    // padding-left: 20px;
    padding-right: 20px;
    padding-top: 60px;
    padding-top: 0px;
};

@mixin mobileFlowMargins {
    height: 330px;
    min-width: 200px;
    margin-left: 57px;
    margin-top: 60px;
    position: absolute;
};

.ourProductWrapper {
    // @include postItBg;
    @include screenMargins;

    // display: flex;
    // flex-direction: column;
    // justify-content: flex-start;
    // align-items: center;

    @if $debugging {
        outline: 2px solid purple;
    } 
}

.h3 {
    @include styleH3;
    @if $debugging {
        outline: 2px solid purple;
    } 
}
.bodyCopy {
    @include styleBodyCopy;
}

.bodyCopyLight {
    @include styleBodyCopyLight;
}
// .quotationMark {
//     @include styleQuotationMarks;
// }


.mobilePreviewText {
//     @include styleMobilePreviewText;
}

.mobileWrapper {

}

.mobileFlow1 {
    @include mobileFlowMargins; //"frame" what's shown

    background-image: url('../../img/mobile-sprite-sheet.png');

    background-position: 200px 0%; //page1
       
    @if $debugging {
        outline: 2px solid yellow;
    } 
}

.mobileFlow1:hover {
    cursor: pointer;
}

.mobileFlow2 {
    @include mobileFlowMargins; //"frame" what's shown

    background-image: url('../../img/mobile-sprite-sheet.png');
    background-position: 0 0; //page2
}

.mobileFrame {
    background-image: url('../../img/iphone11-frame-pinterest-vhv.png');
    min-height: 390px;
    max-width: 320px;
    min-width: 200px;
    background-size: cover;
    // align-self: center;

    @if $debugging {
        // outline: 2px solid pink;
    } 
}

.ourClientsWrapper {
    @include screenMargins;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: $margin-btw-section;

    @if $debugging {
        // outline: 2px solid red;
    } 
}

// .quoteMarks {
//     z-index: -5;
//     position: absolute;
//     margin-top: -40px;

//     @if $debugging {
//         // outline: 2px solid black;
//     } 
// }

.testimonialWrapper {
    // margin-left: $margin-left-testimonial;
    min-width: 375px;

    p {
        margin-left: 30px;
        max-width: 300px;
        // @include stylePCursive;
        margin-top: 20px;
        @if $debugging {
            outline: 2px solid yellow;
        } 
    }

    @if $debugging {
        outline: 2px solid yellow;
    } 
}

.quote {
    @include styleQuote;
    min-width: 300px;
}
.quoteMark { //TODO add css for both marks, ATM only for first mark
    // margin-left: -50px;
    margin-bottom: -50px;
    @if $debugging {
        outline: 2px solid yellow;
    } 
}


//TBD tablet
@media screen and (min-width: 736px) {

    .testimonialWrapper {
        max-width: 500px;
        align-self: center;

    }
}