@import '../../scss/assets/elements';
@import '../../scss/assets/colors';

@mixin screenMargins {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
};

$margin-between-sections: 66px;

$debugging: false; //TODO remove, only for testing

.contactWrapper {
    @include lightBgColor;
    
    padding-bottom: $margin-between-sections;
}
.h3 {
    @include styleH3;
    @include screenMargins;

    @if $debugging {
        outline: 2px solid purple;
    } 
}

.bodyCopy {
    @include fontBodyCopy;
    @include screenMargins;
}

.contactPerson {
    @include fontQuote;
    @include screenMargins;
}

.imgContactPerson {
    max-width: 100%;
    padding-left: 20px;
    padding-top: 60px;
    padding-top: 0px;
    object-fit: cover;
}