@import '../../scss/assets/_elements.scss';
@import '../../scss/assets/colors.scss';

$debugging: false; //TODO remove, only for testing

.logo {
    @include styleH1;
}
.btnWrapper {
    margin-right: 0;
    padding-bottom: 10px;

    .loginBtnShortcut {
        @include styleSecondaryBtnActive;
        z-index: 19;
    }
    .loginBtnShortcut:hover {
        @include styleSecondaryBtnHover;
    }

    .statisticIcon {

    }
    .settingsIcon {

    }

    @if $debugging {
        outline: 2px solid black;
    } 
}
.navHeader {
    display: none;
}








//TODO SÅLLA:

.hamburger {
    position: fixed;
    bottom: 40px;
    right: 20px;
    z-index: 10;
}
.hamburger:hover {
   cursor: pointer;
}

.sideNavSliderShow {
    @include styleSideNav;
    @include styleMenuItems;
    
}
.sideNavSliderHide {
    
}
.menuWrapper {
    @include styleMenuWrapper;    
}

//menuItems
a {
    text-decoration: none;
    @include colorMenuItems;
}
a:hover {
    @include hoverLinks;
}


.menuItem {
    margin-bottom: 20px;
}



// =========== media screens ===========
//TBD tablet
@media screen and (min-width: 736px) {

    .hamburger {
        display: none;
    }
    .navHeader {
        display: block;
    }

    .menuWrapper {
        @include navHeader;
    }

    .menuItem {
        @include styleMenuItems;
        text-decoration: none;
    }
}

// desktop, height: 1024px
@media screen and (min-width: 1440px) {

}
// =========== / media screens ===========