@import '../../scss/assets/_elements.scss';
@import '../../scss/assets/colors.scss';

$debugging: false; //TODO remove, only for testing

.logo {
    @include styleH1;
}
.btnWrapper {
    margin-right: 0;
    padding-bottom: 10px;

    @if $debugging {
        outline: 2px solid black;
    } 
}
.navHeader {
    display: none;
}

.hamburger {
    position: fixed;
    bottom: 40px;
    right: 20px;
    z-index: 10;
}
.hamburger:hover {
   cursor: pointer;
    width: 120px;
}

//mobile nav
.sideNavSliderShow {
    @include styleSideNav;    
}

.menuWrapper {
    @include styleMenuWrapper;    
}

//menuItems
a {
    text-decoration: none;
    @include colorMenuItems;
}
a:hover {
    // @include hoverLinks;
    @include colorHoverLinks;
    text-decoration: underline;
}
.menuItem {
    margin-bottom: 20px;
}

//desktop menuNav
.menuHeaderWrapper {
    @include fontH5;
    list-style: none;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    min-width: 130%;

    @if $debugging {
        outline: 2px solid black;
    } 
}
.menuHeaderItem {
    color: $color-dark-blue;
}

.loginBtn {
    @include styleSecondaryBtnActive;
}

.loginBtn:hover {
    @include styleSecondaryBtnHover;
}

// =========== media screens ===========
//TBD tablet
@media screen and (min-width: 736px) {

    .hamburger {
        display: none;
    }

    .navHeader {
        display: block;
    }

    .menuWrapper {
        @include navHeader;
    }

    .menuItem {
        text-decoration: none;
    }
}

// desktop, height: 1024px
@media screen and (min-width: 1440px) {

}
// =========== / media screens ===========