@import '../../scss/assets/_elements.scss';


$debugging: true; //TODO remove, only for testing

.logo {
    font-family: $font-family-shrikhand;

    @if $debugging {
        outline: 2px solid black;
    } 

}

.sideNav {
    //TODO adjust for mobile screen so menu items not hidden
    @include fontMainMenu;
    @if $debugging {
        outline: 2px solid black;
    } 
}

.menuWrapper {
    display: flex;
    list-style: none;
    justify-content: space-between;
    min-width: 300px;
    padding-left: 0px;

    @if $debugging {
        outline: 2px solid black;
    } 
}

.btnWrapper {
    margin-right: 0;

    .registerBtnShortcut {
        @include stylePrimaryBtnActive;
    }
    .loginBtnShortcut {
        @include styleSecondaryBtnActive;

    }

    .statisticIcon {

    }
    .settingsIcon {

    }

    @if $debugging {
        outline: 2px solid black;
    } 
}

