@import '../../scss/assets/elements';

$width-input-btn: 300px;
$height-input-btn: 50px;

.registerWrapper {
    @include styleSlider;
    @include colorSideNavSliderLight;
}

.h3 {
    @include fontH3;
    margin-top: 66px;
}

.h4 {
    @include fontH5;
}


.input {
    @include styleInput;
}

.createAccountBtn {
    @include stylePrimaryBtnActive;
    margin-top: 10px;
    width: $width-input-btn;
    height: $height-input-btn;
}

.createAccountBtn:hover {
    @include stylePrimarySquareBtnHover;
}

.loginBtn {
    @include styleSecondaryBtnActive;
    width: $width-input-btn;
    height: $height-input-btn;
}
.loginBtn:hover {
    @include styleSecondarySquareBtnHover;
}

.styleCloseBtn {
    @include styleCloseBtnDarkBg;
}

.styleCloseBtn:hover {
    // @include stylePrimaryBtnHoverDarkBg;
    @include colorCloseBtnDarkBg;
}


.textAndCloseWrapper {
    display: flex;
    justify-content: space-between;
}

.textWrapper {
    max-width: 400px;
    padding-top: 20px;
}
.inputLabel {
    @include styleInputLabel;
}

.errorMsg {
    color: red;
    // border: 1px solid black;
}