@import '../../scss/assets/elements';

$width-input-btn: 300px;
$height-input-btn: 50px;

.registerWrapper {
    @include styleSlider;
    @include colorSideNavSliderLight;
    display: flex;
    // align-items: flex-start;
    // justify-content: center;
    // gap: 20px;
    // z-index: 8;
    // display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: flex-start;
}

.h3 {
    @include fontH3;
    margin-top: 66px;
}

.h4 {
    @include fontH5;
}
.bodyCopy {
    @include styleBodyCopy;
}

.input {
    @include styleInput;
    @include colorInputLight;
}

.input:focus {
    @include colorInputFocus;
    outline: none;
}

.createAccountBtn {
    @include stylePrimaryBtnActive;
    margin-top: 10px;
    width: $width-input-btn;
    height: $height-input-btn;
}

.createAccountBtn:hover {
    @include stylePrimarySquareBtnHover;
}

.loginBtn {
    @include styleSecondaryBtnActive;
    width: $width-input-btn;
    height: $height-input-btn;
}
.loginBtn:hover {
    @include styleSecondarySquareBtnHover;
}

.styleCloseBtn {
    @include styleCloseBtnDarkBg;
    align-self: flex-end;
}

.styleCloseBtn:hover {
    // @include stylePrimaryBtnHoverDarkBg;
    @include colorCloseBtnDarkBg;
}


.textAndCloseWrapper {
    display: flex;
    justify-content: space-between;
}

.textWrapper {
    max-width: 400px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    
}
.inputLabel {
    @include styleInputLabel;
}

.errorMsgWrapper {
    // 
}
.errorMsg {
    @include fontError;
    margin-bottom: 0;
    // border: 1px solid black;
}

.h6 {
    margin-top: 66px;
}