@import '../../scss/assets/elements';

$width-input-btn: 300px;
$height-input-btn: 50px;

.registerWrapper {
    @include styleLoginSlider;


    /* TODO remove later: */
    border: 1px solid black;
}

.h3 {
    @include fontH3;
}

//TODO -uppdatera
// .h5 {
//     @include fontH5;
// }


.input {
    @include styleInput;

}

.createAccountBtn {
    @include stylePrimarySquareBtnActive;
    width: $width-input-btn;
    height: $height-input-btn;
}

.createAccountBtn:hover {
    @include stylePrimarySquareBtnHover;
}

.loginBtn {
    @include styleSecondarySquareBtnActive;
    width: $width-input-btn;
    height: $height-input-btn;
}
.loginBtn:hover {
    @include styleSecondarySquareBtnHover;
   
}

.textAndCloseWrapper {
    display: flex;
    justify-content: space-between;
}

.textWrapper {
    max-width: 70%;
}

.errorMsg {
    color: red;
    // border: 1px solid black;
}