@import '../../scss/assets/elements';

$margin-btw-section: 40px;
$margin-in-section: 16px;
$width-input-btn: 300px;
$height-input-btn: 50px;

.registerWrapper {
    @include styleSlider;
    @include colorSideNavSliderLight;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.registerSection {
    margin-bottom: $margin-btw-section;
}
.h3 {
    @include fontH3;
    margin-top: 66px;
}

.h4 {
    @include fontH5;
}

.bodyCopy {
    @include styleBodyCopy;
}

.input {
    @include styleInput;
    @include colorInputLight;
}

.input:focus {
    @include colorInputFocus;
    outline: none;
}

.createAccountBtn {
    @include stylePrimaryBtnActive;
    margin-top: 10px;
    width: $width-input-btn;
    height: $height-input-btn;
}

.createAccountBtn:hover {
    @include stylePrimarySquareBtnHover;
}

.loginBtn {
    @include styleSecondaryBtnActive;
    width: $width-input-btn;
    height: $height-input-btn;
}

.loginBtn:hover {
    @include styleSecondarySquareBtnHover;
}

.styleCloseBtn {
    @include styleCloseBtnDarkBg;
    align-self: flex-end;
}

.styleCloseBtn:hover {
    @include colorCloseBtnDarkBg;
}

.textAndCloseWrapper {
    display: flex;
    justify-content: space-between;
}

.textWrapper {
    max-width: 400px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.userNameRegisterWrapper {
    margin-top: $margin-in-section;
}

.passwordRegisterWrapper {
    margin-top: $margin-in-section;
    margin-bottom: 10px;
}

.inputLabel {
    @include styleInputLabel;
}

.errorMsg {
    @include styleError;
    margin-bottom: 0;
    padding-top: $margin-in-section;
    max-width: 300px;
}

.line {
    @include line;
    border-top: 1px solid $color-dark-blue;
}

// =========== media screens ===========
//TBD tablet
@media screen and (min-width: 736px) {
    .registerWrapper {
        @include styleSliderBiggerScreens
    }
}

// desktop, height: 1024px
@media screen and (min-width: 1440px) {

}
// =========== / media screens ===========

