$debugging: true; //TODO remove, only for testing

@mixin screenMargins {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
};

@mixin menuItems {
  list-style: none;
  padding-left: 0;
}


.footerColumnWrapper {
  @include screenMargins;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footerColumn1 {
  @if $debugging {
    outline: 2px solid black;
  } 
}

.soMeWrapper {
  display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;
  justify-content: space-between;

}

.helpWrapper {

}

.helpItems {
  @include menuItems;
  
}

.footerColumn2 {

}

.contactItems {
  @include menuItems;
}

.visitItems {
  @include menuItems;
}