.footerWrapper {
    width: 100%;
    padding: 10px 10px 0px 10px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute; 
    bottom: 0;

    /* TODO remove later: */
    border: 1px solid black;

}








/* export const Footer = styled.footer`
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    bottom: 0;
`;

export const SomeIconWrapper = styled.div`
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
`; */