$color-blue-ocean: #8AC1E6;//alt1
//$color-blue-ocean: #86A7CE; //alt 2:
//$color-blue-ocean: #728EB0; //alt3

$color-plum: #683C45;
$color-white: #FFFFFF;

// $color-ceme: #F7F7F1; //alt1
$color-creme: #F7F1DE; //alt2

$color-black: #0B0B09;
$color-soft-black: #34342C;
$color-disable: #34342C;

$color-darkSky: #2C83C0;
$color-lightSky: #4893CA;

@mixin colorH2 {
    color: $color-creme;
}

@mixin colorH3 {
    color: $color-soft-black;
}

@mixin colorH4 {
    color: $color-soft-black;
}

@mixin colorH5 {
    color: $color-white;
}

@mixin colorHissPitch {
    color: $color-creme;
}

@mixin colorQuote {
    // color: $color-plum;
}

@mixin colorPCursive {
    color: $color-disable;
}

@mixin colorHeaderWrapper {
    background: linear-gradient(120deg, $color-darkSky, $color-lightSky 40%); 
}

@mixin colorSideNavSlider {
    background-color: $color-creme;
}

@mixin colorFooterItems {
    color: $color-white;
}

@mixin colorHoverLinks {
    color: $color-creme;
}
// ==============  Buttons ==============

//dark background + light text
@mixin colorPrimaryBtnActive {
    background-color: $color-black;
    border: 1px solid $color-black;
    color: $color-white;   
    filter: drop-shadow(2px 2px 2px $color-disable);
}

@mixin colorPrimaryBtnHover {
    background-color: $color-white;
    border: 1px solid $color-black;
    color: $color-black;   
    filter: drop-shadow(2px 2px 2px $color-disable);
}

@mixin colorPrimaryBtnInactive {
    background-color: $color-disable;
    // border: 3px solid $color-black;
    color: $color-white;
}

//light background + dark text
@mixin colorSecondaryBtnActive {
    background-color: $color-white;
    border: 1px solid $color-black;
    color: $color-black;
    filter: drop-shadow(2px 2px 2px $color-disable);
}

@mixin colorSecondaryBtnHover {
    background-color: $color-black;
    border: 1px solid $color-white;
    color: $color-white;
    filter: drop-shadow(2px 2px 2px $color-disable);
}
// ==============  /Buttons ==============
