$color-blue-ocean: #8AC1E6;//alt1
//$color-blue-ocean: #86A7CE; //alt 2:
//$color-blue-ocean: #728EB0; //alt3

$color-plum: #683C45;
$color-white: #FFFFFF;

$color-creme: #F7F7F1; //alt1
// $color-creme: #F7F1DE; //alt2

$color-black: #0B0B09;
$color-soft-black: #34342C;
$color-disable: #34342C;


@mixin colorSquareBtnActive {
    background-color: $color-black;
    // border: 3px solid $color-black;
    color: $color-white;
}

@mixin colorPrimaryBtnActive {
    background-color: $color-black;
    border: 1px solid $color-black;
    color: $color-white;
}

@mixin colorPrimaryBtnInactive {
    background-color: $color-disable;
    // border: 3px solid $color-black;
    color: $color-white;
}

@mixin colorSecondaryBtnActive {
    background-color: $color-white;
    border: 1px solid $color-black;
    color: $color-black;
}
