// *contrast check Webaim
$color-mint: #B1FEA7; //primary color, *Ok bgColor with black or dark blue text.
$color-dark-blue: #31354B; // *Ok bgColor with white, creme or mint text.
$color-creme: #F5F3EE; // *Ok bgColor with black or dark blue text.
$color-white: #FFFFFF; // *Ok bgColor with black or dark blue text.
$color-black: #0B0B09; // *Ok bgColor with white, creme or mint text.

$color-light-disable: #ACAEB7; // disable/ placeholder text on dark background
$color-dark-disable: #565A6B; // disable/ placeholder text on light background
$color-error: #9F1D27;

$filter-btn: drop-shadow(2px 2px 2px $color-dark-disable);

@mixin colorPrimaryBtnActive {
    background-color: $color-mint;
    border: 2px solid $color-mint;
    color: $color-dark-blue;   
    filter: $filter-btn;
}

@mixin colorPrimaryBtnHoverDarkBg {
    background-color: $color-dark-blue;
    border: 2px solid $color-mint;
    color: $color-mint;   
    filter: $filter-btn;
}
@mixin colorPrimaryBtnHoverLightBg {
    background-color: $color-creme;
    border: 2px solid $color-dark-blue;
}

//if light bg-color
@mixin colorSecondaryBtnActive {
    background-color: $color-dark-blue;
    border: 2px solid $color-dark-blue;
    color: $color-white;
    filter: $filter-btn;
}

@mixin colorSecondaryBtnHover {
    background-color: $color-creme;
    // border: 2px solid $color-dark-blue;
    color: $color-dark-blue;
    // filter: $filter-btn;
}


@mixin colorMenuItems {
    color: $color-white;
}

@mixin darkBgColor {
    background-color: $color-dark-blue;
}

@mixin lightBgColor {
    background-color: $color-creme;
}

@mixin mintBgColor {
    background-color: $color-mint;
}
@mixin colorH4 {
    color: $color-white;
}
@mixin colorPDarkBg {
    color: $color-white;
}
@mixin colorLogoFooter {
    color: $color-white;
}

//TODO REMOVE
$color-blue-ocean: #8AC1E6;//alt1
//$color-blue-ocean: #86A7CE; //alt 2:
//$color-blue-ocean: #728EB0; //alt3

// $color-test-blue: #3572B9;

$color-plum: #683C45;


// $color-creme: #F7F7F1; //alt1
// $color-creme: #F7F1DE; //alt2

$color-black: #0B0B09;
$color-soft-black: #34342d;
$color-disable: #34342c;

$color-darkSky: #2C83C0;
$color-lightSky: #4893CA;




@mixin colorH5 {
    color: $color-white;
}

@mixin colorHissPitch {
    color: $color-white;
}

@mixin colorQuote {
    color: $color-white;
}

@mixin colorPCursive {
    color: $color-white;
}

@mixin colorHeaderWrapper {
    background-color: $color-creme; 
}

@mixin colorSideNavSlider {
    background-color: $color-dark-blue;
    color: $color-white;
}

@mixin colorFooterItems {
    color: $color-white;
}

@mixin colorHoverLinks {
    color: $color-mint;
}

@mixin colorH5BgColorHover {
    background-color: $color-dark-blue;
    color: $color-white;
    outline: 2px solid $color-white;
}
// ==============  Buttons ==============

//dark background + light text


@mixin colorPrimaryBtnHover {
    background-color: $color-white;
    border: 1px solid $color-black;
    color: $color-black;   
    filter: drop-shadow(2px 2px 2px $color-disable);
}

@mixin colorPrimaryBtnInactive {
    background-color: $color-disable;
    // border: 3px solid $color-black;
    color: $color-white;
}

@mixin colorSideNav {
    // background-color: $color-dark-blue;

}

// @mixin colorSecondaryBtnHover {
//     background-color: $color-black;
//     border: 1px solid $color-white;
//     color: $color-white;
//     filter: drop-shadow(2px 2px 2px $color-disable);
// }
// ==============  /Buttons ==============
