@import './colors';
@import './fonts';


// Colors: Mint and dark blue
// Border: 2px solid
// Shadow, text-centered
// Margin left o right: =2* som fontsize
// Margin-top o bottom: = som fontsize
@mixin stylePrimaryBtnActive {
    @include fontBtnText;
    @include colorPrimaryBtnActive;
    text-align: center;
    padding: 0.9rem 1.8rem 0.9rem 1.8rem;
}

@mixin stylePrimaryBtnHoverDarkBg {
    @include fontBtnText;
    @include colorPrimaryBtnHoverDarkBg;
}
@mixin stylePrimaryBtnHoverLightBg {
    @include fontBtnText;
    @include colorPrimaryBtnHoverLightBg;
}
@mixin styleSecondaryBtnActive {
    @include fontBtnText;
    @include colorSecondaryBtnActive;
    text-align: center;
    padding: 0.9rem 1.8rem 0.9rem 1.8rem;
}
@mixin styleSecondaryBtnHover {
    @include fontBtnText;
    @include colorSecondaryBtnHover;
}
@mixin styleCloseBtnDarkBg {
    @include fontBtnText;
    @include stylePrimaryBtnHoverDarkBg;
    width: 40px;
    text-align: left;
}

@mixin styleH1 {
    @include fontH1;
    z-index: 100;
    // @include colorH2;
}
@mixin styleH2 {
    @include fontH2;
    margin-bottom: 1.9rem;
}
@mixin styleH3 {
    @include fontH3;
    @include mintBgColor;
    padding: 12px 48px 12px 24px;
    margin-top: 48px;
    margin-bottom: 12px;
    max-width: 270px;
}
@mixin styleBodyCopy {
    @include fontBodyCopy; 
    margin-bottom: 12px;
}

@mixin styleBodyCopyLight {
    @include fontBodyCopy;
    color: $color-creme;
    margin-bottom: 12px;
}
@mixin styleHissPitch {
    @include fontBodyCopy;
    margin-bottom: 1.9rem;
}

@mixin styleQuotationMarks {

}

@mixin styleInputLabel {
    @include fontH5;
    padding-left: 6px;
}

//denna kan ej ha margin-right
@mixin postItBg {
    @include darkBgColor;
    padding-left: 20px;
    padding-right: 20px;
}

@mixin styleSideNav {
    @include fontH3;
    @include colorSideNav;
    @include darkBgColor;

    height: 86%;
    width: 100%;
    position: fixed;
    z-index: 1;
    bottom: 0;
    right: 0;    
}

@mixin styleMenuItems {
    // @include fontH5;
    // color: $color-white;
}

@mixin styleMenuWrapper {
    @include fontH3;
    list-style: none;
    margin-top: 80px;

   

}




//TO DO rensa

$width-input-btn: 300px;
$height-input-btn: 50px;

@mixin styleH4 {
    @include fontH4;
    @include colorH4;
}

@mixin styleH5 {
    @include fontH5;
    @include colorH5;
}

@mixin styleH5BgColor {
    @include fontH5;
    // @include colorH5;
    // @include fontH3;
    @include mintBgColor;
    padding: 12px 48px 12px 24px;
    // margin-top: 48px;
    margin-bottom: 12px;
    max-width: 270px;
}

@mixin styleH5BgColorHover {
    @include colorH5BgColorHover;
}

@mixin styleQuote {
    @include fontQuote;
    @include colorQuote;

}

@mixin stylePCursive {
    @include fontPCursive;
    @include colorPCursive;
}

@mixin styleInput {
    padding: 6px 20px 6px 20px;
    width: $width-input-btn;
    height: $height-input-btn;
    // border-radius: 1.4rem;
    @include fontInput;
}

// @mixin styleFooterMenu {
//     @include colorFooterItems;
//     list-style: none;
// }

@mixin hoverFooterMenu {
    @include colorHoverLinks;
    text-decoration: underline;
    cursor: pointer;
}


//menu

@mixin styleSlider {
    @include fontSideNavSlider;
    position: fixed;
    height: 100vh;
    width: 100%;
    padding: 6px 30px 0px 30px;
    // bottom: 0;
    z-index: 9;
    right: 0;
    
}

@mixin navHeader {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    min-width: 300px;
    padding-left: 0px;
    margin-bottom: 0;
    
    
}

@mixin hoverLinks {
    color: $color-plum;
    text-decoration: underline;
    cursor: pointer;
}


// ==============  Buttons ==============

@mixin stylePrimarySquareBtnHover {
    // @include fontSquareBtnHover;
    @include colorPrimaryBtnHover;
    // padding: 10px 20px 10px 20px;
    // text-align: center;
}

// styleSecondaryBtnActive



@mixin styleSecondarySquareBtnHover {
    @include colorSecondaryBtnHover;

}

// =======

// =======
@mixin styleSoMeLogo {
    // width: 100px;
}






//TODO remove round btns?
//rename round borders
@mixin stylePrimaryRoundBtnActive {
    @include colorPrimaryBtnActive;
    @include fontPrimaryRoundBtnActive;
    padding: 6px 20px 6px 20px;
    border-radius: 1.4rem;
}

// @mixin stylePrimaryRoundBtnHover {
//     @include colorPrimaryBtnActive;
//     @include fontPrimaryBtnActive;
//     padding: 10px 20px 10px 20px;
//     border-radius: 1rem;
// }

@mixin stylePrimaryRoundBtnInactive {
    // @include colorPrimaryBtnInactive ;
    // @include fontPrimaryBtnInactive;
    // padding: 10px 20px 10px 20px;
    // border-radius: 1.4rem;

}

@mixin styleSecondaryRoundBtnActive {
    @include colorSecondaryBtnActive;
    @include fontSecondaryRoundBtnActive;
    padding: 6px 20px 6px 20px;
    border-radius: 1.4rem;
}

// ==============  /Buttons ==============

// =========== media screens ===========
//TBD tablet
@media screen and (min-width: 736px) {

    @mixin styleSideNavSlider {
        // @include fontSideNavSlider;
        // @include colorSideNavSlider;
        // position: fixed;
        // height: 86vh;
        // width: 70%;
        // padding: 20px 20px 0px 20px;
        // margin-top: 60px;
        // z-index: 100;
        // right: 0;
    
    
    }
}

// desktop, height: 1024px
@media screen and (min-width: 1440px) {

}
// =========== / media screens ===========