@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shrikhand&family=Space+Grotesk:wght@300;400;500;600;700&family=Spinnaker&display=swap');


$font-family-space-grotesk: 'Space Grotesk', sans-serif;
//fontWeight: Light 300, Regular 400, Medium 500, Semi-bold 600, Bold 700 
//font-style 
//TODO clean not used styles

$font-family-mulish: 'Mulish', sans-serif;


$font-family-spinnaker: 'Spinnaker', sans-serif;


$font-family-shrikhand: 'Shrikhand', cursive;


@mixin fontH2 {
    font-family: $font-family-space-grotesk;
    font-size: 2.2rem;
    font-weight: 700;
}

@mixin fontH3 {
    font-family: $font-family-space-grotesk;
    font-size: 1.8rem;

    font-weight: 600;
}

@mixin fontH4 {
    font-family: $font-family-space-grotesk;
    font-size: 1.2rem;
    font-weight: 400;
}

@mixin fontH5 {
    font-family: $font-family-space-grotesk;
    font-size: 1.2rem;
    font-weight: 600;
}

@mixin fontDisclaimer {
    font-family: $font-family-mulish;
}

@mixin fontMainMenu {
    font-family: $font-family-space-grotesk;
    font-size: 1rem;
    font-weight: 500;
}

@mixin fontBodyCopy {
    font-family: $font-family-mulish;
    font-size: 1rem;
}

@mixin fontHissPitch {
    font-size: 1.2rem;
}

@mixin fontQuote {
    font-size: 1.2rem;
    font-family: $font-family-space-grotesk;

}

@mixin fontPCursive {
    font-weight: 500;
    font-style: italic;
}

@mixin fontError {
    color: red; 
    font-family: $font-family-mulish;
    font-weight: 600;
    font-size: 0.8rem;

}

@mixin fontInput {
    font-family: $font-family-mulish;
    font-weight: 700;
}

@mixin fontSideNavSlider {
    // font-family: $font-family-space-grotesk;


}


// ==============  Buttons ==============

@mixin fontSquareBtnActive {
    font-size: 1rem;
    font-family: $font-family-mulish;
    font-weight: 600;
}




//TODO REMOVE?
@mixin fontPrimaryRoundBtnActive {
    font-family: $font-family-mulish;
    font-weight: 700;
    font-size: 0.8rem;
}

@mixin fontSecondaryRoundBtnActive {
    font-family: $font-family-mulish;
    font-weight: 700;
    font-size: 0.8rem;

}

// ==============  /Buttons ==============



//TBD tablet
@media screen and (min-width: 736px) {
    @mixin fontPrimaryBtnActive {
        font-family: $font-family-mulish;
        font-weight: 600;
        font-size: 0.1rem;
    }
}
//Space Grotesk fontWeight here: https://fonts.google.com/specimen/Space+Grotesk 

//Mulish fontWeight here: https://fonts.google.com/specimen/Mulish?query=mulish

//Spinnaker here: https://fonts.google.com/specimen/Spinnaker?query=spinnaker#standard-styles NOTE: only available in Regular

//Shrikhand here: https://fonts.google.com/specimen/Shrikhand?query=shrikhand OTE: only available in Regular that is cursive