@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shrikhand&family=Space+Grotesk:wght@300;400;500;600;700&family=Spinnaker&display=swap');


$font-family-space-grotesk: 'Space Grotesk', sans-serif;
//font-weight: Light 300, Regular 400, Medium 500, Semi-bold 600, Bold 700 
//TODO clean not used styles

$font-family-mulish: 'Mulish', sans-serif;


$font-family-spinnaker: 'Spinnaker', sans-serif;


$font-family-shrikhand: 'Shrikhand', cursive;




//Space Grotesk font-weight here: https://fonts.google.com/specimen/Space+Grotesk 

//Mulish font-weight here: https://fonts.google.com/specimen/Mulish?query=mulish

//Spinnaker here: https://fonts.google.com/specimen/Spinnaker?query=spinnaker#standard-styles NOTE: only available in Regular

//Shrikhand here: https://fonts.google.com/specimen/Shrikhand?query=shrikhand OTE: only available in Regular that is cursive