//mobile-screen 357px x 667px
@import '../../scss/assets/elements';
@import '../../scss/assets/fonts';
@import '../../scss/assets/colors';

$margin-btw-section: 40px;
$margin-in-section: 16px;
$width-input-btn: 300px;
$height-input-btn: 50px;

$debugging: false; //TODO remove, only for testing

.loginWrapper {
    @include styleSlider;
    @include colorSideNavSliderDark;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    z-index: 8;

    @if $debugging {
        outline: 2px solid pink;
    } 
}

.styleCloseBtn {
    @include styleCloseBtnDarkBg;
    align-self: flex-end;
}
.styleCloseBtn:hover {
    @include colorCloseBtnDarkBg;
}

.h3 {
    @include fontH3;
}

.inputLabel {
    @include styleInputLabel;
}

.textWrapper {
    max-width: 400px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;

    @if $debugging {
        outline: 2px solid purple;
    } 
}

.loginForm {
    @if $debugging {
        outline: 2px solid black;
    } 
}

.userNameLoginWrapper {
    margin-top: $margin-in-section;
}

.passwordLoginWrapper {
    margin-top: $margin-in-section;
    margin-bottom: 10px;
}

.input {
    @include styleInput;
    // @include fontInput;
    @include colorInputDark;

}

.input:focus {
    @include colorInputFocus;
    outline: none;
}

.loginBtn {
    @include stylePrimaryBtnActive;
    margin-top: 10px;
    width: $width-input-btn;
    height: $height-input-btn;
}

.loginBtn:hover {
    @include stylePrimaryBtnHoverDarkBg;
}

.bodyCopy {
    @include styleBodyCopy;
    @include colorPDarkBg;
    max-width: 350px;
}

.link {
    @include styleBodyCopy;
    margin-top: 24px;
}

.link:hover {
    @include colorHoverLinks;
    text-decoration: underline;
    cursor: pointer;
}

.errorMsg {
    @include styleError;
    max-width: 300px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.line {
    @include line;
    border-top: 1px solid $color-mint;
}
.loginLastSection {
    margin-bottom: $margin-btw-section;
    @if $debugging {
        outline: 2px solid black;
    } 
}

.createAccountBtn {
    @include styleSecondaryBtnActive;
    width: $width-input-btn;
    height: $height-input-btn;
}

.createAccountBtn:hover {
    @include colorSecondaryBtnHover;
}

// =========== media screens ===========
//TBD tablet
@media screen and (min-width: 736px) {
    .loginWrapper {
        @include styleSliderBiggerScreens
    }
}

// desktop, height: 1024px
@media screen and (min-width: 1440px) {

}
// =========== / media screens ===========

