@import '../src/scss/vendor/normalize'; //TODO need to import in every module.scss?

.appWrapper {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // background-color: pink;
}



//mobile-screen 357px x 667px
// @import '_base.scss';

//TBD tablet
// @media screen and (min-width: 736px) {
//     @import "tablet.scss";
// }

//desktop, height: 1024px
// @media screen and (min-width: 1440px) {
//     @import "_desktop.scss";
// }
