@import '../src/scss/vendor/normalize'; //TODO need to import in every module.scss?

@import '../src/scss/assets/colors';
@import '../src/scss/assets/fonts';

.appWrapper {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: $color-dark-blue;
  background-color: $color-creme;
};