@import '../../scss/assets/elements';

$debugging: false; //TODO remove, only for testing

$margin-btw-section: 48px; //margin between sections
$margin-left-testimonial: 20px;

@mixin screenMargins {
    padding-right: 20px;
    padding-top: 60px;
    padding-top: 0px;
};

@mixin mobileFlowMargins {
    height: 330px;
    min-width: 200px;
    margin-left: 57px;
    margin-top: 60px;
    position: absolute;
};

.ourProductWrapper {
    @include screenMargins;

    @if $debugging {
        outline: 2px solid white;
    } 
}

.h3 {
    @include styleH3;
    @if $debugging {
        outline: 2px solid white;
    } 
}
.bodyCopy {
    @include styleBodyCopy;
}

.reference {
    @include styleBodyCopyLight;
    margin-bottom: 66px;
}

.mobileWrapper {

}

.mobileFlow1 {
    @include mobileFlowMargins; //"frame" what's shown
    background-image: url('../../img/mobile-sprite-sheet.png');
    background-position: 200px 0%; //page1
       
    @if $debugging {
        outline: 2px solid white;
    } 
}

.mobileFlow1:hover {
    cursor: pointer;
}

.mobileFlow2 {
    @include mobileFlowMargins; //"frame" what's shown
    background-image: url('../../img/mobile-sprite-sheet.png');
    background-position: 0 0; //page2
}

.mobileFrame {
    background-image: url('../../img/iphone11-frame-pinterest-vhv.png');
    min-height: 390px;
    max-width: 320px;
    min-width: 200px;
    background-size: cover;

    @if $debugging {
        outline: 2px solid white;
    } 
}

.ourClientsWrapper {
    @include screenMargins;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: $margin-btw-section;

    @if $debugging {
        outline: 2px solid white;
    } 
}

.testimonialWrapper {
    min-width: 375px;

    p {
        margin-left: 30px;
        max-width: 300px;
        margin-top: 20px;
        @if $debugging {
            outline: 2px solid white;
        } 
    }

    @if $debugging {
        outline: 2px solid white;
    } 
}

.quote {
    @include styleQuote;
    min-width: 300px;
}
.quoteMark { 
    margin-bottom: -20px;
    @if $debugging {
        outline: 2px solid white;
    } 
}

//TBD tablet
@media screen and (min-width: 736px) {

    .testimonialWrapper {
        max-width: 500px;
        align-self: center;

    }
}